<div class="flex justify-end items-start gap-3">
    <mat-form-field>
        <input matInput placeholder="Search properties">
    </mat-form-field>
    <button mat-flat-button color="primary">
        <span class="material-symbols-rounded btnicon">add</span>
        <span class="btnlabel">Add Property</span>
    </button>
</div>
<div class="propertyard-wrapper">
    <mat-card class="property-card">
        <div class="propertycard-container">
            <img mat-card-image src="https://i.pinimg.com/736x/95/8f/1d/958f1da47a87363d203b048bee3b48f4.jpg">

            <div>
                <mat-card-title>Property name</mat-card-title>
                <mat-card-subtitle>Address</mat-card-subtitle>
                <div class="flex flex-col">
                    <span>Units: 7/10 filled</span>
                    <span>1,25,000/month</span>

                </div>
                <span>Active</span>
                <p> This modern villa offers luxury living with a spacious interior.</p>

                <mat-card-actions class="propertycard-footer">
                    <button mat-button color="primary">View Details</button>
                    <button mat-button color="secondary">Edit</button>
                </mat-card-actions>

            </div>
        </div>
    </mat-card>


</div>