<div class="flex justify-end items-start gap-3">
    <mat-form-field>
        <input matInput placeholder="Search properties">
    </mat-form-field>
    <button mat-flat-button color="primary">
        <span class="material-symbols-rounded btnicon">add</span>
        <span class="btnlabel">Add Property</span>
    </button>
</div>
<div class="propertycard-wrapper">
    <mat-card class="property-card">
        <div class="propertycard-container">
            <img mat-card-image src="https://i.pinimg.com/736x/95/8f/1d/958f1da47a87363d203b048bee3b48f4.jpg">

            <div class="flex flex-col justify-between gap-4">

                <div class="cardcontentswrapper">
                    <mat-card-title class="propertytitle">
                        <label for="title">Property name</label>


                        <div class="statusindicator">
                            <div class="statusdot"></div>
                            <span class="statuslabel">Active</span>
                        </div>

                    </mat-card-title>
                    <mat-card-subtitle class="pb-2">Address</mat-card-subtitle>


                    <div class="flex flex-col mb-2">
                        <span>Units: 7/10 filled</span>
                    </div>

                    <div class="propertyamount">
                        <label>1,25,000/month</label>
                    </div>
                </div>

                <mat-card-actions class="propertycard-footer">
                    <button mat-button color="primary">View Details</button>
                    <button mat-button color="secondary" class="borderedbtn">Edit</button>
                </mat-card-actions>

            </div>
        </div>
    </mat-card>

</div>