header{
    position: sticky;
    padding-block: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headername h2{
    margin: 0px;
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
}

.headericons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}


