<header>
    <div class="headername">
        <h2>{{ pageTitle }}</h2>
    </div>

    <div class="headericons">
        <button mat-icon-button class="iconbox" routerLink="/settings" routerLinkActive="active">
            <mat-icon class="icon">settings</mat-icon>
        </button>
        <button mat-icon-button class="iconbox">
            <mat-icon class="icon">notifications</mat-icon>
        </button>
        <div class="iconbox">
            <span class="profileicon">
                <img src="assets/profile.png" alt="profile">
            </span>
        </div>
    </div>

</header>