.mdc-button{
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-family: inherit !important;

}

/* MAT FLAT BUTTON */
.mat-mdc-unelevated-button {
    background-color: var(--accent-color) !important;
    color: var(--btntext-color) !important;
    padding-inline: 12px !important;
    min-width: fit-content !important;
    border-radius: 8px !important;
    cursor: pointer;
    transition: 0.3s ease !important;
}

.mat-mdc-unelevated-button .mdc-button__label {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--btntext-color) !important;
    letter-spacing: 0.5px !important;
}

.mat-mdc-unelevated-button .btnicon {
    color: var(--btntext-color) !important;
    font-size: 20px;
}

.btnicon {
    padding-inline: 2px;
}

// .btnlabel {
//     padding-inline: 2px !important;
// }

.mat-mdc-icon-button {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
    width: 40px !important;
    height: 40px !important;
    transition: 0.3s ease !important;
}

.mat-mdc-icon-button.mat-mdc-button-base{
    padding: 8px !important;
}

.mat-mdc-icon-button .mat-icon {
    color: var(--text-color) !important;
    font-size: 20px;
}

.mat-mdc-icon-button:hover {
    background-color: var(--hover-color) !important;
    color: var(--text-color) !important;
    transition: 0.3s ease !important;

}

/* Accent Light Flat */
.mat-mdc-unelevated-button.accentlightbtn {
    background-color: var(--accent-light-color) !important;
    color: var(--accent-color) !important;
    transition: 0.3s ease !important;

}

.mat-mdc-unelevated-button.accentlightbtn .mdc-button__label {
    color: var(--accent-color) !important;
}

.mat-mdc-unelevated-button.accentlightbtn .btnicon {
    color: var(--accent-color) !important;
    font-size: 20px;
}

/* Secondary Light Flat */
.mat-mdc-unelevated-button.secondarylightbtn {
    background-color: var(--hover2-color) !important;
    color: var(--text-color) !important;
    transition: 0.3s ease !important;

}

.mat-mdc-unelevated-button.secondarylightbtn .mdc-button__label {
    color: var(--text-color) !important;
}

.mat-mdc-unelevated-button.secondarylightbtn .btnicon {
    color: var(--text-color) !important;
    font-size: 20px;
}

/* TEXTBTN Flat */
.mat-mdc-unelevated-button.textbtn {
    background-color: transparent !important;
    color: var(--text-color) !important;
    transition: 0.3s ease !important;
}

.mat-mdc-unelevated-button.textbtn .mdc-button__label {
    color: var(--text-color) !important;
}

.mat-mdc-unelevated-button.textbtn .btnicon {
    color: var(--text-color) !important;
    font-size: 20px;
}

/* TEXTBTN outlined */
.mat-mdc-outlined-button.textbtn {
    background-color: transparent !important;
    color: var(--text-color) !important;
    transition: 0.3s ease !important;
}

.mat-mdc-outlined-button.textbtn .mdc-button__label {
    color: var(--text-color) !important;
}

.mat-mdc-outlined-button.textbtn .btnicon {
    color: var(--text-color) !important;
    font-size: 20px;
}

/* TEXTBTN icon */
.mat-mdc-icon-button.textbtn {
    background-color: transparent !important;
    color: var(--text-color) !important;
    transition: 0.3s ease !important;
}

.mat-mdc-icon-button.textbtn .mdc-button__label {
    color: var(--text-color) !important;
}

.mat-mdc-icon-button.textbtn .btnicon {
    color: var(--text-color) !important;
    font-size: 20px;
}



/* MAT STROKED BUTTON */
.mat-mdc-outlined-button {
    padding-inline: 12px !important;
    min-width: fit-content !important;
    cursor: pointer;
    transition: 0.3s ease !important;

    border: 2px solid var(--accent-color) !important;
    background-color: transparent !important;
    color: var(--accent-color) !important;
    border-radius: 8px !important;
}

.mat-mdc-outlined-button .mdc-button__label {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5px !important;
    color: var(--accent-color) !important;
}


.mat-mdc-outlined-button.normal_borderedbtn {
    border: 2px solid var(--border-xdark-color) !important;
    background-color: transparent !important;
    color: var(--text-color) !important;
    transition: 0.3s ease !important;

}

.mat-mdc-outlined-button.normal_borderedbtn .mdc-button__label {
    color: var(--text-color) !important;
}


.mdc-button.backtobtn {
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
    padding-inline: 6px !important;
    min-width: fit-content !important;
    border-radius: 8px !important;
    transition: 0.3s ease !important;

}

.mdc-button.backtobtn .mdc-button__label .btnicon {
    color: var(--text-color) !important;
    font-size: 20px;
}



/* ===== Disabled Button Style ===== */

.mdc-button:disabled,
.mdc-button.mdc-button--disabled {

    background-color: var(--disbled-btn-bg-color) !important;
    color: var(--s-text-color) !important;

    cursor: not-allowed !important;
    box-shadow: none !important;

    opacity: 1 !important;
}

/* Label inside */
.mdc-button:disabled .mdc-button__label,
.mdc-button.mdc-button--disabled .mdc-button__label {
    color: var(--s-text-color) !important;
}

/* Icon inside */
.mdc-button:disabled .btnicon,
.mdc-button.mdc-button--disabled .btnicon {
    color: var(--s-text-color) !important;
}

.mat-mdc-icon-button.dialogclosebtn {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
    width: 30px !important;
    height: 30px !important;
    padding: 6px !important;
    transition: 0.3s ease !important;
}

.mat-mdc-icon-button.dialogclosebtn .mat-icon {
    color: var(--text-color) !important;
    font-size: 18px;
}

.btnrounded_full {
    border-radius: 9999px !important;
}

.mat-mdc-unelevated-button.roundedfull,
.mat-mdc-outlined-button.roundedfull {
    border-radius: 9999px !important;
}


// REMOVE BUTTON 
.mat-mdc-unelevated-button.removebtn:hover,
.mat-mdc-outlined-button.removebtn:hover,
.mat-mdc-icon-button.removebtn:hover {
    background-color: var(--red-light) !important;
    transition: 0.3s ease !important;
}

.mat-mdc-outlined-button.removebtn {
    border-color: var(--red) !important;
    border-width: 1px !important;
    height: 32px !important;
}

.mat-mdc-button.removebtn .mdc-button__label,
.mat-mdc-unelevated-button.removebtn .mdc-button__label,
.mat-mdc-outlined-button.removebtn .mdc-button__label {
    color: var(--red) !important;
    font-size: 12px !important;
    font-weight: 500 !important;
}

.mat-mdc-button.removebtn .mat-icon.removeicon,
.mat-mdc-unelevated-button.removebtn .mat-icon.removeicon,
.mat-mdc-outlined-button.removebtn .mat-icon.removeicon,
.mat-mdc-icon-button.removebtn .mat-icon.removeicon{
    color: var(--red) !important;
    font-size: 16px !important;
}

.removebtn.mob{
    display: none !important;
}
// REMOVE BUTTON END 


// VIEW BUTTON 
.mat-mdc-unelevated-button.viewbtn:hover,
.mat-mdc-outlined-button.viewbtn:hover,
.mat-mdc-icon-button.viewbtn:hover {
    background-color: var(--secondary-bg-color) !important;
    transition: 0.3s ease !important;
}

.mat-mdc-outlined-button.viewbtn {
    border-color: var(--border-dark-color) !important;
    border-width: 1px !important;
    height: 32px !important;
}

.mat-mdc-button.viewbtn .mdc-button__label,
.mat-mdc-unelevated-button.viewbtn .mdc-button__label,
.mat-mdc-outlined-button.viewbtn .mdc-button__label {
    color: var(--text-color) !important;
    font-size: 12px !important;
    font-weight: 500 !important;
}

.mat-mdc-button.viewbtn .mat-icon.viewicon,
.mat-mdc-unelevated-button.viewbtn .mat-icon.viewicon,
.mat-mdc-outlined-button.viewbtn .mat-icon.viewicon,
.mat-mdc-icon-button.viewbtn .mat-icon.viewicon{
       color: var(--text-color) !important;
    font-size: 16px !important;
}

// VIEW BUTTON END 


@media (max-width: 639.98px) {

.removebtn{
    display: none !important;
}

.removebtn.mob{
    display: flex !important;
}

}

@media (min-width: 640px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 1023.98px) {}

@media (min-width: 1024px) and (max-width: 1279.98px) {}

@media (min-width: 1280px) and (max-width: 1535.98px) {}