/* MAT FLAT BUTTON */
.mat-mdc-unelevated-button {
    background-color: var(--accent-color) !important;
    color: var(--btntext-color) !important;
    padding-inline: 6px !important;
    min-width: fit-content !important;
    border-radius: 6px !important;
    cursor: pointer;
}

.mat-mdc-unelevated-button .mdc-button__label {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--btntext-color) !important;
    letter-spacing: 0.5px !important;
}

.mat-mdc-unelevated-button .btnicon {
    color: var(--btntext-color) !important;
    font-size: 20px;
}

.btnicon {
    padding-inline: 2px;
}

.btnlabel {
    padding-inline: 2px !important;
}

.mat-mdc-icon-button {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
    width: 40px !important;
    height: 40px !important;
}

.mat-mdc-icon-button .mat-icon {
    color: var(--text-color) !important;
    font-size: 20px;
}

.mat-mdc-icon-button:hover {
    background-color: var(--hover-color) !important;
    color: var(--text-color) !important;
}

/* Accent Light Flat */
.mat-mdc-unelevated-button.accentlightbtn {
    background-color: var(--accent-light-color) !important;
    color: var(--accent-color) !important;
}

.mat-mdc-unelevated-button.accentlightbtn .mdc-button__label {
    color: var(--accent-color) !important;
}

.mat-mdc-unelevated-button.accentlightbtn .btnicon {
    color: var(--accent-color) !important;
    font-size: 20px;
}

/* Secondary Light Flat */
.mat-mdc-unelevated-button.secondarylightbtn {
    background-color: var(--hover2-color) !important;
    color: var(--text-color) !important;
}

.mat-mdc-unelevated-button.secondarylightbtn .mdc-button__label {
    color: var(--text-color) !important;
}

.mat-mdc-unelevated-button.secondarylightbtn .btnicon {
    color: var(--text-color) !important;
    font-size: 20px;
}

/* MAT STROKED BUTTON */
.mat-mdc-outlined-button {
    padding-inline: 6px !important;
    min-width: fit-content !important;
    cursor: pointer;

    border: 2px solid var(--accent-color) !important;
    background-color: transparent !important;
    color: var(--accent-color) !important;
    border-radius: 6px !important;
}

.mat-mdc-outlined-button .mdc-button__label {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5px !important;
    color: var(--accent-color) !important;
}

.mat-mdc-unelevated-button .btnicon {
    color: var(--btntext-color) !important;
    font-size: 20px;
}

.mat-mdc-outlined-button.normal_borderedbtn {
    border: 2px solid var(--border-xdark-color) !important;
    background-color: transparent !important;
    color: var(--text-color) !important;
}

.mat-mdc-outlined-button.normal_borderedbtn .mdc-button__label {
    color: var(--text-color) !important;
}


.mdc-button.backtobtn {
    background-color: var(--bg-color) !important;
    color: var(--text-color) !important;
    padding-inline: 6px !important;
    min-width: fit-content !important;
    border-radius: 6px !important;
}

.mdc-button.backtobtn .mdc-button__label .btnicon {
    color: var(--text-color) !important;
    font-size: 20px;
}

/* ===== Disabled Button Style ===== */

.mdc-button:disabled,
.mdc-button.mdc-button--disabled {

    background-color: var(--disbled-btn-bg-color) !important;
    color: var(--s-text-color) !important;

    cursor: not-allowed !important;
    box-shadow: none !important;

    opacity: 1 !important;
}

/* Label inside */
.mdc-button:disabled .mdc-button__label,
.mdc-button.mdc-button--disabled .mdc-button__label {
    color: var(--s-text-color) !important;
}

/* Icon inside */
.mdc-button:disabled .btnicon,
.mdc-button.mdc-button--disabled .btnicon {
    color: var(--s-text-color) !important;
}