
// MAT FORM FIELD 

mat-label {
    font-size: 12px;
    color: var(--s-text-color) !important;
}

.mat-mdc-form-field-input-control.mat-mdc-form-field-input-control {
    font-size: 14px !important;
    color: var(--text-color) !important;
}

.mat-mdc-select-value {
    font-size: 14px !important;
    color: var(--text-color) !important;
}

.mat-mdc-select-arrow {
    color: var(--text-color) !important;
}

.mat-mdc-form-field-infix {
    padding-block: 5px !important;
    min-height: 36px !important;
    height: 36px;
}

.mdc-text-field--filled {
    background-color: var(--secondary-bg-color) !important;
    transition: all 0.3s ease;

}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: var(--text-color) !important;
    transition: all 0.3s ease;
}

.mat-mdc-input-element::placeholder {
    color: var(--placeholder-color) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom-color: var(--s-text-color) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
    border-bottom-color: var(--accent-color) !important;
}

.mat-mdc-form-field .mdc-notched-outline__leading,
.mat-mdc-form-field .mdc-notched-outline__notch,
.mat-mdc-form-field .mdc-notched-outline__trailing {
    border-color: var(--border-dark-color) !important;
    /* your color */
}

.mat-mdc-form-field-subscript-wrapper {
    display: none;
}

.mat-mdc-option {
    min-height: 36px !important;
}

div.mat-mdc-select-panel {
    background-color: var(--secondary-bg-color) !important;
    // border: 1px solid var(--border-dark-color) !important;
}

.mat-mdc-option .mdc-list-item__primary-text {
    font-size: 14px !important;
    color: var(--text-color);
}

.mat-mdc-option:hover:not(.mdc-list-item--disabled) {
    background-color: var(--hover-color) !important;
}

mat-form-field input.mat-mdc-input-element {
    caret-color: var(--accent-color);
}

//MAT FORM FIELD END