.mat-mdc-table thead {
    position: sticky;
    top: 0;
}

.mat-mdc-table {
    box-shadow: none !important;
    background-color: var(--purebg-color) !important;
}

.mat-mdc-header-cell.text-right,
.mat-mdc-cell.text-right {
    text-align: right !important;
}

.mat-mdc-header-cell{
    color: var(--text-color);
   border-bottom-color: var(--border-light-color) !important;
}

.mat-mdc-cell{
    color: var(--text-color);
   border-bottom-color: var(--border-light-color) !important;
}