// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './colors';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rentyl-primary: mat.define-palette(mat.$indigo-palette);
$rentyl-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$rentyl-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$rentyl-theme: mat.define-light-theme((color: (primary: $rentyl-primary,
                accent: $rentyl-accent,
                warn: $rentyl-warn,
            ),
            typography: mat.define-typography-config(),
            density: 0));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($rentyl-theme);


@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

* {
    outline: none;
    font-family: "Instrument Sans", sans-serif;
    transition: all 0.3s ease;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}




main {
    display: flex;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    overflow: hidden;
}

.view {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-inline: 20px;
    padding-block: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    overflow-x: hidden;
}

.content {
    flex: 1;
    padding-top: 8px;
}

// html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.material-symbols-rounded {
    user-select: none;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.iconbox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
}

.profileicon {
    width: 28px;
    min-width: 28px;
    height: 28px;
    min-width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--secondary-bg-color);
    object-fit: cover;
    overflow: hidden;
}

.mdc-button {
    background-color: var(--accent-color) !important;
    color: var(--text-color) !important;
    padding-inline: 6px !important;
    min-width: fit-content !important;
    border-radius: 6px !important;
}

.mdc-button__label {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--btntext-color) !important;
    letter-spacing: 0.5px !important;
}

.mdc-button__label .btnicon {
    color: var(--btntext-color) !important;
    font-size: 20px;
}

.btnicon {
    padding-inline: 2px;
}

.btnlabel {
    padding-inline: 2px !important;
}

.accentlightbtn {
    background-color: var(--accent-light-color) !important;
    color: var(--accent-color) !important;
}

.accentlightbtn .mdc-button__label {
    color: var(--accent-color) !important;
}

.secondarylightbtn {
    background-color: var(--hover2-color) !important;
    color: var(--text-color) !important;
}

.secondarylightbtn .mdc-button__label {
    color: var(--text-color) !important;
}

.accent_borderedbtn {
    border: 2px solid var(--accent-color) !important;
    background-color: transparent !important;
    color: var(--accent-color) !important;
}

.accent_borderedbtn .mdc-button__label {
    color: var(--accent-color) !important;
}

.normal_borderedbtn {
    border: 2px solid var(--border-xdark-color) !important;
    background-color: transparent !important;
    color: var(--text-color) !important;
}

.normal_borderedbtn .mdc-button__label {
    color: var(--text-color) !important;
}

// MAT FORM FIELD 

.mat-mdc-form-field-input-control.mat-mdc-form-field-input-control {
    font-size: 14px !important;
}

.mat-mdc-form-field-infix {
    padding-block: 6px !important;
    min-height: 36px !important;
    height: 36px;
}

.mdc-text-field--filled {
    background-color: var(--secondary-bg-color) !important;
    transition: all 0.3s ease;

}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: var(--text-color) !important;
    transition: all 0.3s ease;
}

.mat-mdc-input-element::placeholder {
    color: var(--placeholder-color) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom-color: var(--s-text-color) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
    border-bottom-color: var(--accent-color) !important;
}


//MAT FORM FIELD END

.cardcontentswrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.mat-mdc-card-title {
    font-family: "Instrument Sans", sans-serif !important;
    color: var(--text-color) !important;
    font-size: 20px !important;
}

.mat-mdc-card-title.propertytitle {
    font-family: "Instrument Sans", sans-serif !important;
    color: var(--text-color) !important;
    font-size: 20px !important;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 4px;
}

.mat-mdc-card-title.propertytitle label {
    font-size: 16px;
    font-weight: 550;
    line-height: normal;
    overflow-wrap: break-word;
    word-break: break-word;
    text-wrap: balance;
}

.mat-mdc-card-subtitle {
    font-family: "Instrument Sans", sans-serif !important;
    color: var(--s-text-color) !important;
    font-size: 14px !important;
    line-height: normal;
}

.mdc-card__actions.propertycard_footer {
    padding: unset !important;
    min-height: auto !important;
    display: flex;
    gap: 6px;
}

.propertycard_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 12px;
}

.mat-mdc-card.property_card {
    background-color: var(--bg-color) !important;
    box-shadow: none !important;
    transition: box-shadow 0.3s ease, background-color 0.3s ease !important;
    border: 1px solid var(--border-medium-color) !important;
    padding: 8px;
    border-radius: 16px;
    margin-bottom: 6px;
}

.propertycard_container {
    display: flex;
    flex-direction: column;
}

.propertycard_image {
    width: 100%;
    height: 180px;
    overflow: hidden;
    border-radius: 6px !important;

}

.propertycard_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.propertyamount label {
    color: var(--accent-color) !important;
    font-size: 14px;
    font-weight: 600;
}

.statusindicator {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
    padding: 2px 4px;
    width: fit-content;
    height: 20px;
    width: 100%;
    margin-bottom: 4px;
}

.statusindicator .statusdot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--default-color);
}

.statusindicator .statuslabel {
    color: var(--default-color) !important;
    font-size: 12px;
}


.statusindicator.active .statusdot {
    background-color: var(--active-color);
}

.statusindicator.active .statuslabel {
    color: var(--active-color) !important;
}


// MAT TAB 
.mat-mdc-tab-labels {
    border-bottom: 1px solid var(--border-medium-color) !important;
}

.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: var(--accent-color) !important;
}

.mat-mdc-tab .mdc-tab-indicator__content--underline {
    border-color: var(--accent-color) !important;
}

.mat-mdc-tab .mdc-tab__text-label {
    color: var(--s-text-color) !important;
}

.mat-mdc-tab.mdc-tab--active .mdc-tab__ripple::before,
.mat-mdc-tab.mdc-tab--active .mat-ripple-element {
    background-color: var(--accent-light-color) !important;
}



// MEDIA QUERIES 

/* below sm */
@media (max-width: 639.98px) {
    .propertycard_wrapper {
        grid-template-columns: 1fr;
    }
}

/* sm only */
@media (min-width: 640px) and (max-width: 767.98px) {
    .propertycard_wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

/* md only */
@media (min-width: 768px) and (max-width: 1023.98px) {
    .propertycard_wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* lg only */
@media (min-width: 1024px) and (max-width: 1279.98px) {
        .propertycard_wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* xl only */
@media (min-width: 1280px) and (max-width: 1535.98px) {
    .propertycard_wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
