// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './colors';
@use './matformfields';
@use './mattabgroups';
@use './buttons';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rentyl-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$rentyl-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$rentyl-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$rentyl-theme: mat.m2-define-light-theme((color: (primary: $rentyl-primary,
                accent: $rentyl-accent,
                warn: $rentyl-warn,
            ),
            typography: mat.m2-define-typography-config(),
            density: 0));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($rentyl-theme);


@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

* {
    outline: none;
    font-family: "Instrument Sans", sans-serif;
    // transition: all 0.3s ease;
}

.theme-switching * {
    transition: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 350,
        'GRAD' 0,
        'opsz' 24
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--secondary-bg-color) !important;
    border-radius: 8px;
}

/* thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: var(--border-medium-color) !important;
    border-radius: 8px;
}

/* hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accent-color);
}

/* ===== Chrome Autofill Fix for Angular Material MDC ===== */

input.mat-mdc-input-element:-webkit-autofill,
input.mat-mdc-input-element:-webkit-autofill:hover,
input.mat-mdc-input-element:-webkit-autofill:focus,
input.mat-mdc-input-element:-webkit-autofill:active {

  -webkit-text-fill-color: inherit !important;

  -webkit-box-shadow: 0 0 0px 1000px var(--purebg-color) inset !important;
  box-shadow: 0 0 0px 1000px var(--purebg-color) inset !important;

  background-color: transparent !important;
}

.error{
    color: #df0000;
    font-size: 12px;
    font-weight: 400;
}

.login_page {
    width: 100%;
    height: 100dvh;
    max-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--purebg-color);
}

.left_login_section {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-inline: 60px 20px ;
    background: linear-gradient(135deg, #eaf2ff 0%, #dbe9ff 40%, #c7dbff 70%, #b5ceff 100%);
}

.left_login_section h1{
    font-size: 50px;
    font-weight: 600;
    line-height: normal;
}

.left_login_section p{
    font-size: 20px;
    font-weight: 400;
}

.login_container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28px 50px;
    height: 100%;
    background-color: var(--purebg-color);
}

.login_form {
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_form h2{
    color: var(--accent-color);
    font-weight: 600;
    font-size: 32px;
    letter-spacing: -1.5px;
    text-align: center;
    margin-bottom: 20px;
}

.login_form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login_form form mat-label {
    color: var(--text-color) !important;
    font-size: 14px;
    margin-bottom: 2px;
    font-weight: 500;
}

.login_form form .mat-mdc-form-field-infix {
    padding-block: 8px !important;
    min-height: 40px !important;
    height: 40px;
}

.login_form form button {
    min-height: 40px;
}

main {
    display: flex;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    overflow: hidden;
}

.view {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-inline: 20px;
    padding-block: 10px 0px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    overflow-x: hidden;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* stop page scroll */
    min-height: 0;
    padding-top: 8px;
}

// html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.material-symbols-rounded {
    user-select: none;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.iconbox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
}

.profileicon {
    width: 28px;
    min-width: 28px;
    height: 28px;
    min-width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--secondary-bg-color);
    object-fit: cover;
    overflow: hidden;
}

.cardcontentswrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.mat-mdc-card-title {
    font-family: "Instrument Sans", sans-serif !important;
    color: var(--text-color) !important;
    font-size: 20px !important;
}

.mat-mdc-card-title.propertytitle {
    font-family: "Instrument Sans", sans-serif !important;
    color: var(--text-color) !important;
    font-size: 20px !important;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 4px;
}

.mat-mdc-card-title.propertytitle label {
    font-size: 16px;
    font-weight: 550;
    line-height: normal;
    overflow-wrap: break-word;
    word-break: break-word;
    text-wrap: balance;
}

.mat-mdc-card-subtitle {
    font-family: "Instrument Sans", sans-serif !important;
    color: var(--s-text-color) !important;
    font-size: 14px !important;
    line-height: normal;
}

.mdc-card__actions.propertycard_footer {
    padding: unset !important;
    min-height: auto !important;
    display: flex;
    gap: 6px;
}

.page_scroll {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;
    padding-right: 4px;
    padding-bottom: 6px;
}

.propertycard_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 12px;
}

.mat-mdc-card.property_card {
    background-color: var(--bg-color) !important;
    box-shadow: none !important;
    transition:
        background-color 0.3s ease,
        border-color 0.3s ease,
        box-shadow 0.3s ease;
    border: 1px solid var(--border-medium-color) !important;
    padding: 8px;
    border-radius: 16px;
    margin-bottom: 6px;

}

.propertycard_container {
    display: flex;
    flex-direction: column;
}

.propertycard_image {
    width: 100%;
    height: 180px;
    overflow: hidden;
    border-radius: 6px !important;

}

.propertycard_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.propertyamount label {
    color: var(--accent-color) !important;
    font-size: 14px;
    font-weight: 600;
}

.statusindicator {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
    padding: 2px 4px;
    width: fit-content;
    height: 20px;
    width: 100%;
    margin-bottom: 4px;
}

.statusindicator .statusdot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--default-color);
}

.statusindicator .statuslabel {
    color: var(--default-color) !important;
    font-size: 12px;
}


.statusindicator.active .statusdot {
    background-color: var(--active-color);
}

.statusindicator.active .statuslabel {
    color: var(--active-color) !important;
}

.backto_panel_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;
}

.property_header_name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.property_header_name h2 {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 4px;
}

.property_header_name p {
    color: var(--s-text-color);
    font-size: 14px;
    line-height: normal;
}

.property_view_section {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-block: 0px 12px;
    overflow: hidden;
}

.propertyfull_details {
    display: flex;
    border-radius: 24px;
    border: 1px solid var(--border-medium-color) !important;
    background-color: var(--bg-color) !important;
    padding: 12px;
    gap: 12px;
    flex: 1;
    min-height: 0;
    overflow: hidden;
}   

.mat-mdc-card.property_view_card {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    padding-right: 12px;
    background-color: var(--bg-color) !important;
    border-right: 1px solid var(--border-medium-color) !important;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    border-radius: 0px;
    box-shadow: none !important;
    overflow: auto;

}

.propertyview_image {
    overflow: hidden;
    border-radius: 12px;
    width: 100%;
    height: 280px;
    margin-bottom: 8px;
}

.propertyview_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.propertyview_details {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    text-wrap: balance;
}


.propertyview_tabs{
    flex: 1;
    display: flex;
    flex-direction: column;
}

// MEDIA QUERIES 

/* below sm */
@media (max-width: 639.98px) {
    .propertycard_wrapper {
        grid-template-columns: 1fr;
    }
}

/* sm only */
@media (min-width: 640px) and (max-width: 767.98px) {
    .propertycard_wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

/* md only */
@media (min-width: 768px) and (max-width: 1023.98px) {
    .propertycard_wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* lg only */
@media (min-width: 1024px) and (max-width: 1279.98px) {
    .propertycard_wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* xl only */
@media (min-width: 1280px) and (max-width: 1535.98px) {
    .propertycard_wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}