<div class="sidepanel" [class.collapsed]="isCollapsed">
    <div class="logo-container">
        <h2>
            <a href="/">
                Rentyl
            </a>
        </h2>
        <button class="menubtn" (click)="railMenu()">
            <mat-icon class="icon">menu</mat-icon>
        </button>
    </div>

    <nav>
        <div class="btns-container">
            <button class="sidebar-btn sidebar-tooltip" routerLink="/dashboard" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">
                <mat-icon class="icon">dashboard</mat-icon>
                <label class="hiddenlabel">Dashboard</label>
                <span class="tooltip-text" *ngIf="isCollapsed">
                    Dashboard
                </span>
            </button>
            <button class="sidebar-btn sidebar-tooltip" routerLink="/properties" routerLinkActive="active">
                <mat-icon class="icon">home_and_garden</mat-icon>
                <label class="hiddenlabel">Properties</label>
                <span class="tooltip-text" *ngIf="isCollapsed">
                    My Properties
                </span>
            </button>
            <button class="sidebar-btn sidebar-tooltip" routerLink="/tenants" routerLinkActive="active">
                <mat-icon class="icon">contact_page</mat-icon>
                <label class="hiddenlabel">Tenants</label>
                <span class="tooltip-text" *ngIf="isCollapsed">
                    Tenants
                </span>
            </button>
            <button class="sidebar-btn sidebar-tooltip" routerLink="/rents-and-payments" routerLinkActive="active">
                <mat-icon class="icon">receipt_long</mat-icon>
                <label class="hiddenlabel">Rent & Payments</label>
                <span class="tooltip-text" *ngIf="isCollapsed">
                    Rent & Payments
                </span>
            </button>
            <button class="sidebar-btn sidebar-tooltip" routerLink="/expenses" routerLinkActive="active">
                <mat-icon class="icon">payments</mat-icon>
                <label class="hiddenlabel">Expenses</label>
                <span class="tooltip-text" *ngIf="isCollapsed">
                    Expenses
                </span>
            </button>
            <button class="sidebar-btn sidebar-tooltip" routerLink="/maintenance" routerLinkActive="active">
                <mat-icon class="icon">construction</mat-icon>
                <label class="hiddenlabel">Maintenance</label>
                <span class="tooltip-text" *ngIf="isCollapsed">
                    Maintenance
                </span>
            </button>
            <button class="sidebar-btn sidebar-tooltip" routerLink="/reports" routerLinkActive="active">
                <mat-icon class="icon">note_stack</mat-icon>
                <label class="hiddenlabel">Reports</label>
                <span class="tooltip-text" *ngIf="isCollapsed">
                    Reports
                </span>
            </button>
            <button class="sidebar-btn sidebar-tooltip" routerLink="/documents" routerLinkActive="active">
                <mat-icon class="icon">article</mat-icon>
                <label class="hiddenlabel">Documents</label>
                <span class="tooltip-text" *ngIf="isCollapsed">
                    Documents
                </span>
            </button>
        </div>

        <div class="bottom-set">


            <button (click)="onToggleClick()" aria-label="Toggle Theme" class="themebtn">
                <ng-container *ngIf="currentTheme === 'light'">
                    <mat-icon class="icon">dark_mode</mat-icon>
                </ng-container>

                <ng-container *ngIf="currentTheme === 'dark'">
                    <mat-icon class="icon">light_mode</mat-icon>
                </ng-container>
            </button>
        </div>

    </nav>


</div>