.sidepanel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-inline: 6px;
    padding-block: 8px;
    width: 180px;
    max-width: fit-content;
    max-height: 100vh;
    height: 100vh;
    position: relative;
    transition: width 0.3s ease;
    background-color: var(--secondary-bg-color);
    border-right: 1px solid var(--border-medium-color);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.sidepanel.collapsed {
    min-width: fit-content;
    max-width: fit-content;
}

.sidepanel.collapsed .logo-container h2,
.sidepanel.collapsed .hiddenlabel {
    display: none;
}

.sidepanel.collapsed .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.sidepanel h2 a {
    color: var(--accent-color);
    margin-block: 16px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

nav {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    // position: absolute;
    // top: 0px;
    // left: 0px;
    background-color: var(--secondary-bg-color);
    box-sizing: border-box;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    z-index: 1;
    min-height: 51px;
    margin-bottom: 20px;
}

.menubtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--text-color);
    width: fit-content;
    height: fit-content;
    padding-inline: 0px;
}

.menubtn .icon {
    font-size: 18px;
}

.menubtn:hover {
    background-color: var(--secondary-bg-color);
}

.themebtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--text-color);
    padding: 10px;
}

.themebtn .icon {
    font-size: 18px;
}

.btns-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1px;
}

.sidebar-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 41px;
    padding-block: 10px;
    padding-inline: 10px;
    gap: 6px;
    border: none;
    outline: none;
    background-color: transparent !important;
    color: var(--text-color) !important;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    white-space: nowrap;
    font-weight: 500;
    position: relative;
}

.sidebar-btn label {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.sidebar-btn .icon {
    font-size: 18px;
}

.sidebar-btn.active,
.sidebar-btn.active .icon {
    color: var(--accent-color) !important;
}

.bottom-set {
    background-color: var(--secondary-bg-color);
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 4px;
}

.sidebar-tooltip {
    position: relative;
}

.tooltip-text {
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;

    background: var(--secondary-bg-color);
    color: var(--text-color);
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
    border: 1px solid var(--border-light-color);

    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease, transform .2s ease;

    box-shadow: var(--shadow-light);
}

.sidebar-tooltip:hover .tooltip-text {
    opacity: 1;
    transform: translateY(-50%) translateX(2px);
}