// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rentyl-primary: mat.define-palette(mat.$indigo-palette);
$rentyl-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$rentyl-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$rentyl-theme: mat.define-light-theme((color: (primary: $rentyl-primary,
                accent: $rentyl-accent,
                warn: $rentyl-warn,
            ),
            typography: mat.define-typography-config(),
            density: 0));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($rentyl-theme);


@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

* {
    outline: none;
    font-family: "Instrument Sans", sans-serif;
    transition: all 0.3s ease;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}


:root {
    --bg-color: #f2f2f2;
    --secondary-bg-color: #e9e9e9;

    --text-color: #070707;
    --s-text-color: #838383;
    --btntext-color: #fff;
    --placeholder-color: #9ca3af;

    --accent-color: #006eff;

    --default-color: #757575;
    --active-color: #00b112;
    --notactive-color: #ff3b3b;

    --border-light-color: #f0f0f0;
    --border-medium-color: #dddddd;
    --border-dark-color: #bfbfbf;

    --shadow-light: 0 2px 8px rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 6px 18px rgba(0, 0, 0, 0.10);
    --shadow-dark: 0 6px 18px rgba(0, 0, 0, 0.10);

    --hover-color: #dcdcdc;
    --hover2-color: #dddddd;
    --hover3-color: #007dff80;

    transition: all 0.3s ease;
}

[data-theme="dark"] {
    --bg-color: #242527;
    --secondary-bg-color: #161719;

    --text-color: #f2f2f2;
    --s-text-color: #565859;
    --btntext-color: #fff;
    --placeholder-color: #9ca3af;


    --accent-color: #3399ff;

    --default-color: #5a5a5a;
    --active-color: #00b312;
    --notactive-color: #d40000;

    --border-light-color: #454545;
    --border-medium-color: #323232;
    --border-dark-color: #242424;

    --shadow-light: 0 2px 8px rgba(0, 0, 0, 0.06);
    --shadow-medium: 0 6px 18px rgba(0, 0, 0, 0.35);
    --shadow-dark: 0 6px 18px rgba(0, 0, 0, 0.35);

    --hover-color: #2c2e30;
    --hover2-color: #212121;
    --hover3-color: #191919;

    transition: all 0.3s ease;

}



main {
    display: flex;
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    overflow: hidden;
}

.view {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-inline: 20px;
    padding-block: 10px 20px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    overflow-x: hidden;
}

.content {
    flex: 1;
    padding-top: 8px;
}

// html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.material-symbols-rounded {
    user-select: none;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.iconbox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
}

.profileicon {
    width: 28px;
    min-width: 28px;
    height: 28px;
    min-width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--secondary-bg-color);
    object-fit: cover;
    overflow: hidden;
}

.mdc-button {
    background-color: var(--accent-color) !important;
    color: var(--text-color) !important;
    padding-inline: 6px !important;
    min-width: fit-content !important;
    border-radius: 6px !important;
}

.mdc-button__label {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--btntext-color) !important;
    letter-spacing: 0.5px !important;
}

.mdc-button__label .btnicon {
    color: var(--btntext-color) !important;
    font-size: 20px;
}

.btnicon {
    padding-inline: 2px;
}

.btnlabel {
    padding-inline: 2px !important;
}

// MAT FORM FIELD 

.mat-mdc-form-field-input-control.mat-mdc-form-field-input-control {
    font-size: 14px !important;
}

.mat-mdc-form-field-infix {
    padding-block: 6px !important;
    min-height: 36px !important;
    height: 36px;
}

.mdc-text-field--filled {
    background-color: var(--secondary-bg-color) !important;
    transition: all 0.3s ease;

}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: var(--text-color) !important;
    transition: all 0.3s ease;
}

.mat-mdc-input-element::placeholder {
    color: var(--placeholder-color) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border-bottom-color: var(--s-text-color) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
    border-bottom-color: var(--accent-color) !important;
}


//MAT FORM FIELD END

.mat-mdc-card-title {
    font-family: "Instrument Sans", sans-serif !important;
    color: var(--text-color) !important;
    font-size: 20px !important;
}

.mat-mdc-card-title.propertytitle {
    font-family: "Instrument Sans", sans-serif !important;
    color: var(--text-color) !important;
    font-size: 20px !important;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 4px;
}

.mat-mdc-card-title.propertytitle label {
    font-weight: 550;
    line-height: normal;
    overflow-wrap: break-word;
    word-break: break-word;
    text-wrap: balance;
}

.mat-mdc-card-subtitle {
    font-family: "Instrument Sans", sans-serif !important;
    color: var(--s-text-color) !important;
    font-size: 16px !important;
}

.mdc-card__actions.propertycard-footer {
    padding: unset !important;
    min-height: auto !important;
    display: flex;
    gap: 6px;
}

.propertyard-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
}

.mat-mdc-card.property-card {
    background-color: var(--secondary-bg-color) !important;
    border-radius: 8px !important;
    box-shadow: var(--shadow-light) !important;
    transition: box-shadow 0.3s ease, background-color 0.3s ease !important;
    padding: 12px;
    border-radius: 8px;
}

.propertycard-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    column-gap: 12px;
}

.propertycard-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px !important;

}

.propertyamount label {
    color: var(--accent-color) !important;
    font-size: 16px;
    font-weight: 600;
}

.statusindicator {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 2px 4px;
    width: fit-content;
}

.statusindicator .statusdot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--default-color);
}

.statusindicator .statuslabel {
    color: var(--default-color) !important;
    font-size: 12px;
}


.statusindicator.active .statusdot {
    background-color: var(--active-color);
}

.statusindicator.active .statuslabel {
    color: var(--active-color) !important;
}