<section class="property_view_section">
    <div class="backto_panel_header">
        <button mat-button class="backtobtn">
            <span class="material-symbols-rounded btnicon">
                arrow_back
            </span>
        </button>
        <div class="property_header_name">
            <h2>Property name</h2>
            <p>Address: 123 Main Street, City, State</p>
        </div>
        <div></div>
    </div>
    <div class="propertyfull_details">
        <mat-card class="property_view_card">
            <div class="propertyview_image">
                <img mat-card-image src="https://i.pinimg.com/736x/95/8f/1d/958f1da47a87363d203b048bee3b48f4.jpg">
            </div>
            <div class="propertyview_details">
                <p>Detailed Address: 123 Main Street, City, State</p>
                <p>Units: 7/10 filled</p>
                <p>Rent: $1,25,000/month</p>
            </div>
        </mat-card>
    </div>
</section>